

body {
   background-color: #def;
}

.container {
   /* display: flex;
   align-items: center;
   justify-content: center; */
   width: 800px;
   margin: 0 auto;
}

.tab-body {
   background-color: white;
}